.tree-view ul {
  font-size: 12px;
  list-style: none;
  padding-inline-start: 10px;
}

.tree-view ul > ul {
  padding-inline-start: 17px;
}

.branch-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #81858b;
  font-size: 11px;
}
