.toolbar {
  background: rgba(239, 242, 244, 0.498279);
  display: flex;
  align-items: center;
}

.filter-input {
  font-size: 12px;
  line-height: 14px;
  margin: 16px;
  padding-left: 10px;
  width: 300px;
  height: 28px;
  border: 1px solid #e3e1e1;
}

.filter-button {
  width: 85px;
  height: 32px;
  background: linear-gradient(180deg, #faf2f2 0%, #ede5e5 100%);
  border: 1px solid #d0cccc;
  line-height: 14px;
  color: #5a5151;
  font-size: 12px;
}
